* {
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
}

.app {
    background: #000;
    /*text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.app-videos {
    margin: 1px auto;
    width: 100vw;
    display: block;
    background-color: #000;
    position: relative;
    height: 100vh;
    overflow: scroll;
    max-width: 768px;
    scroll-snap-type: y mandatory;
}

.app-videos::-webkit-scrollbar {
    display: none;
}